*{
    margin: 0;
    box-sizing: border-box;

}

.sig-fm{
    background-color: rgb(230, 96, 230);
    height: 100vh;

}


.sgn-bg{
    margin: 0 auto;
    padding: 2em;
    text-align: center;  
    width: 350px;

     
}
.sgn-hd{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: .5em;
    margin-bottom:.5em ;
    font-style: italic;
}

.sgn-input{
    width: 300px;
    padding: .5em;
    margin-top: .8em;
    font-size: 1.5rem;
}
label{
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
button{
    background-color: #3a0996;
    color: #fff;
    border-radius: 10px;
    border-color: #3a0996;
    padding: .5em;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1rem;
}
.sign-agree{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: red; */
    margin-top: 2em;
    /* flex-wrap: nowrap; */
}
.ag-input{
    height: 30px;   
}
p{
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


/* Zahrah */
.header{
    background-color: #f1e7e7;
    height: 7vh;
    width: 100vw;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    /* flex-wrap: nowrap; */
    
    box-shadow: 0 1rem 1rem rgba(142, 54, 194, 0.295);
    border-top: 1px solid #44007E;
 
}

.header-left{
    padding: .1em;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}
.brand_name{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #44007E;
}
.lg_img{
    height: 2em;
    width: 2em;
    margin-right: .5em;
}
.menu{
    align-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.menu-lg, .menu-sm{
    width: 3rem;
    cursor: pointer;
}
main{
    background-color: #43007e41;
    height: 93vh;
    width: 100%;
    overflow: hidden;
}
.menu-dsk{
    display: inline-flex;


    
}
a{
    text-decoration: none;
}
/* @media only screen and (max-width: 300px){
    .brand_name{
        font-size: 2000px;
    }
} */
@media only screen and (max-width: 600px) {
    .brand_name{
        font-size: 1em;
        
    }
    video {
        display: none;
    }
    .cont-1{
        background-image: url("../public/images/homImg.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        min-width: 100vw;

    }
    .lg_img{
        height: 1.4em;
        width: 1em;
        
    }
    .header{
        height: 10vh;
      
        /* flex-wrap: wrap; */
    }
   
    .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        

    }
    .menu-mobile{
        border-top: 0.5px solid #44007E;
        border-bottom: 0.5px solid #44007E;
        
    }
    .menu-lst{
        color: #44007E;
        cursor: pointer;
        /* font-size: 1em; */
        /* background-color: red; */
        
    }
  
    .menu-dsk{
        /* float:none; */
        padding: 0px; 
        
        /* display: inline; */
        /* height: 100vh; */
        padding: 0px;
        margin-left: 0px;
        
        
        
   }
   .mob-dsk{
       font-size: 1.2em;
   }
   /* a{
       font-size: 3em;
   } */
   
}

@media only screen and (min-width: 2000px) {
    .hom-img {
        display: none;

    }
    
  }

.menu-lst{
    padding: .2rem;
    color: #44007E;
    cursor: pointer;
    /* font-size: 1.25em; */
    
}
.mob-lst{
    padding: .2rem;
    color: #44007E;
    cursor: pointer;
    font-size: 1.6em;
    
}
.menu-lst:hover{
    background-color: #44007e;
    color: #f1e7e7;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    height: 2em;
}
a{
    font-size: 1em;
}
a:hover{
    color: #fff;
}

.menu-mobile{
    display: flex;
    background-color: #f1e7e7;
    text-align: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    font-size: .55em;
    box-shadow: 0 1rem 1rem rgba(142, 54, 194, 0.295);
   
    /* height: 60px; */
    
  

}
.mob-dsk{
   
    padding: .2em;
    background-color: #f1e7e7;
    text-align: center;
    
    
  
}
.mob-lst{
    padding: .2em;
  
}
 .mob-lst:hover{
    /* background-color: #44007E; */
    /* color: red; */
    border-radius: 10px;
    height: 2em;

}
/* HomePage */
.container{
    width: 100vw;
    height: 93vh;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}
.cont-1{
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(193, 126, 206, 0.301);
    position: absolute;
    top: 0px;
  
    /* overflow: hidden; */
}
.con-2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
body{
    overflow-x: hidden;
}
.product{
    color: #3a2150;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 1.2em;
    padding: 1.3em;

}
.brief{
    color: #f1e8f8d7;
    font-style: italic;
    font-size: 1.3em;
    font-weight: bold;

}
video, .hom-img{
    min-height: 93vh;
    min-width: 100vw;
}
/* a{

    background-color: blue;
    cursor: pointer;
    color: green
} */
/* card */
.main_card{
    position: relative;
    margin-top: 1em;
    /* text-align: center; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; */
    /* position: absolute; */
    /* top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%); */
    awborder: 3px solid black;

}

.card{

    margin-top: 20em;
    background-color: #f1e7e7;
    
    /* padding: .25rem; */
    width: 80%;
    box-shadow: 0 1rem 1rem rgba(142, 54, 194, 0.295);
    border: 1px solid #44007E;
    /* text-align: center; */
    position: relative;
    /* background-color: red; 
    position: absolute; 
    top: 0%;
    bottom: 0%;
    transform: translate(10%, 0%);  */
    margin: 0 auto;
}

.hij_img{
  
    height: 70%;
    width: 90%;    
}
.trans{
    /* color:red; */
    border: 2px solid #44007E;
    /* padding: .5rem; */
    width: 70px;
    height: 30px;
    background-color: transparent;
    text-align: center;
    position: absolute;
    top:5%;
    left: 5%;
    color: #44007E;
    
}