*{
    margin: 0;
    box-sizing: border-box;

}

.sig-fm{
    background-color: rgb(230, 96, 230);
    height: 100vh;

}


.sgn-bg{
    margin: 0 auto;
    padding: 2em;
    text-align: center;  
    width: 350px;

     
}
.sgn-hd{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: .5em;
    margin-bottom:.5em ;
    font-style: italic;
}

.sgn-input{
    width: 300px;
    padding: .5em;
    margin-top: .8em;
    font-size: 1.5rem;
}
label{
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
button{
    background-color: #3a0996;
    color: #fff;
    border-radius: 10px;
    border-color: #3a0996;
    padding: .5em;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1rem;
}
.sign-agree{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: red; */
    margin-top: 2em;
   
}
.ag-input{
    height: 30px;   
}
p{
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


/* Zahrah */
.header{
    background-color: #f1e7e7;
    height: 7vh;
    width: 100vw;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    padding: 1rem;

    

}

.header-left{
    padding: .1em;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}
.brand_name{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #44007E;
}
.lg_img{
    height: 2em;
    width: 2em;
}
.menu{
    align-content: flex-end;
}
.menu-lg{
    width: 3rem;
    cursor: pointer;
}
main{
    background-color: #43007e41;
    height: 93vh;
    width: 100%;
    overflow: hidden;
}
.menu-dsk{
    display: inline-flex;

    
}

@media only screen and (max-width: 420px) {
    video {
        display: none;
    }
    .cont-1{
        background-image: url("../public/images/homImg.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        min-width: 100vw;

    }
    .brand_name{
        font-size: 1.5em;
    }
  }


@media only screen and (min-width: 2000px) {
    .hom-img {
        display: none;

    }
    
  }

.menu-lst, .mob-lst{
    padding: 5px;
    color: #44007E;
    cursor: pointer;
    font-size: 20px;
    
}
.menu-lst:hover{
    background-color: #44007E;
    color: #f1e7e7;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.menu-mobile{
    display: flex;
    background-color: #f1e7e7;
    text-align: center;
    justify-content: center;
   
    gap: space-between;
    box-shadow: red;
  

}
.mob-dsk{
    border-top: solid 2px red;
    padding: 1em;
    background-color: #f1e7e7;
    
    
  
}

 .mob-lst:hover{
    background-color: #44007E;
    color: #f1e7e7;
    border-radius: 10px;

}
/* HomePage */
.container{
    width: 100vw;
    height: 93vh;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}
.cont-1{
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(193, 126, 206, 0.301);
    position: absolute;
    top: 0px;
  
    /* overflow: hidden; */
}
.con-2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
body{
    overflow-x: hidden;
}
.product{
    color: #3a2150;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 1.2em;
    padding: 1.3em;

}
.brief{
    color: #f1e8f8d7;
    font-style: italic;
    font-size: 1.3em;
    font-weight: bold;

}
video, .hom-img{
    min-height: 93vh;
    min-width: 100vw;
}